<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmBFKG3PT4hy4AfcMTCkXFu-Kf-jLuSL4</string>
	<key>GCM_SENDER_ID</key>
	<string>665176182069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parquea2</string>
	<key>PROJECT_ID</key>
	<string>atrevet-parquea2</string>
	<key>STORAGE_BUCKET</key>
	<string>atrevet-parquea2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665176182069:ios:f1b47ceb5a340f50bb507c</string>
</dict>
</plist>